<div id="register" class="container">
  <div class="page-header">
    <h1>Register for KeanBnB</h1>
  </div>
  <form>
    <h4>Basic Info</h4>
    <div class="form-group">
      <label for="firstName">Name</label>
      <div class="row">
        <div class="col-md-2">
          {{input class="form-control" id="firstName" placeholder="Connor" value=firstname}}
        </div>
        <div class="col-md-1">
          {{input class="form-control" id="mi" placeholder="M" value=mi}}
        </div>
        <div class="col-md-2">
          {{input class="form-control" id="lastName" placeholder="Coffey" value=lastname}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="street1">Home Address</label>
      <div class="row">
        <div class="col-md-5">
          {{input class="form-control" id="street1" placeholder="10 Flushing Ave." value=street1}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          {{input class="form-control" id="street2" placeholder="Apt. 45B" value=street2}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          {{input class="form-control" id="city" placeholder="Normal" value=city}}
        </div>
        <div class="col-md-1">
          {{input class="form-control" id="state" placeholder="IL" value=state}}
        </div>
        <div class="col-md-2">
          {{input class="form-control" id="zip" placeholder="61761" value=zip}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="cell">Phone Numbers</label>
      <div class="row">
        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-addon">Cell</span>
            {{input type="tel" class="form-control" id="cell" value=cellPhone}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-addon">Home</span>
            {{input type="tel" class="form-control" id="home" value=homePhone}}
          </div>
        </div>
      </div>
    </div>
    <h4>Resident Info</h4>
    <div class="form-group">
      <label class="checkbox-inline">
        {{input type="checkbox" id="resident" checked=isResident}} I am a Resident
      </label>
    </div>
    {{#if isResident}}
      <div class="form-group">
        <label for="id">Student ID</label>
        <div class="row">
          <div class="col-md-3">
            {{input class="form-control" id="id" placeholder="648373" value=studentId}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="building">Building</label>
        <div class="row">
          <div class="col-md-3">
            {{view Ember.Select class="form-control" id="building" contentBinding="buildings" valueBinding="building" optionLabelPath="content.name"}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="room">Room #</label>
        <div class="row">
          <div class="col-md-2">
            {{input class="form-control" id="room" placeholder="601A" value=room}}
          </div>
        </div>
      </div>
    {{/if}}
    <h4>Account Info</h4>
    <div class="form-group">
      <label for="email">{{#if isResident}}Kean {{/if}} Email</label>
      <div class="row">
        <div class="col-md-3">
          {{input class="form-control" id="email" type="email" placeholder="ccoffey@kean.edu" value=email}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div class="row">
        <div class="col-md-3">
          {{input class="form-control" id="password" type="password" placeholder="p@ssw0rd" value=password}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <a href="#" {{action submitRegistration}} class="btn btn-primary btn-lg">Register</a>
    </div>
  </form>
</div>
